<h1>Listing showcases</h1>

<table width="100%">
  <tr>
    <th>Pic</th>    
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @showcases.each do |showcase| %>
  <tr>
    <td><%= link_to image_tag(showcase.picture.url(:small)), showcase %></td>
    <td><%= showcase.name %></td>
    <td><%= link_to 'Show', showcase %></td>
    <td><%= link_to 'Edit', edit_showcase_path(showcase) %></td>
    <td><%= link_to 'Destroy', showcase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Showcase', new_showcase_path %>
